@import './base.css';

.v-slick-dots {
  li {
    button {
      &::before {
        top: -30px;
        font-size: 18px;
        color: var(--vt-c-light-green);
      }
    }

    &.active {
      button {
        &::before {
          color: var(--vt-c-dark-green);
        }
      }
    }
  }
}

.product-slider {
  .v-slick-dots {
    li {
      button {
        &::before {
          top: -50px;
          color: rgb(255, 255, 255);
        }
      }

      &.active {
        button {
          &::before {
            color: rgb(0, 115, 255);
          }
        }
      }
    }
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  color: var(--vt-c-neviblue-dark);
  border-bottom: 2px solid var(--vt-c-neviblue-dark);
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: var(--vt-c-black);
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }
}
